./scraped_files
./venv
venv/
*.csv
*.xlsx
*.zip
Prototype/Shapefiles
Prototype/REACH Prototype.sql
.env
*.env
*.sql
Prototype/fake_data
Frontend/env
__pycache__/
Prototype/
.vscode/
.vscode
.envrc

# Test results
Backend/geocoding/test_results.json
Backend/geocoding/test_setup_results.json
test_results.json
test_setup_results.json